html,
body 
  padding 0
  margin 0

html
  font-size 16px
  background-color #f3f0df

body
  font-size 62.5%
  font-family Helvetica, sans-serif

header 
  width 100%
  text-align center
  padding 10px 0
  background-color #394D4D
  color #9BABAB
  text-shadow 0 0 1px #0D0D0D

header h1 
  font-weight 100
  font-size 3.5em
  margin 10px 0 0 0
  padding 0

#main
  padding 15px 25px 25px 25px
  text-align center
  width 75%
  margin 0 auto
  overflow auto
  
.location-group:last-child
  border-bottom-width 0
.location-group
  margin-bottom 25px
  padding-bottom 25px
  border-bottom 3px solid #ccc
  .title
    font-size 2em
    margin-bottom 8px
    color #394D4D

.file-group
  position relative
  width 140px
  height 160px
  display inline-block
  margin 0 auto
  padding 12px 10px 12px 0

.file-group:hover
  cursor pointer

.file-group:hover .file-icon
  background-color #C7C2A6

.file-icon
  width 100%
  height 140px
  background-size contain
  background-repeat no-repeat
  border-radius 8px
  background-image url('./icons/default.png')
  &:after
    position absolute
    top 0
    content attr(aria-label )
    font-size 1.8em
    color rgba(85, 85, 85, .85)
    text-align center
    text-transform uppercase
    transform translate(-50%, 119px)
  &[aria-label="docx"],
  &[aria-label="doc"]
    background-image url('./icons/docx.png')
  &[aria-label="pdf"]
    background-image url('./icons/pdf.png')
  &[aria-label="xlsx"],
  &[aria-label="xls"]
    background-image url('./icons/xlsx.png')
  &[aria-label="docx"],
  &[aria-label="doc"],
  &[aria-label="pdf"],
  &[aria-label="xlsx"],
  &[aria-label="xls"]
    &:after
      content ''

.file-name
  position absolute
  width 100%
  text-align center
  padding 5px 0
  font-size 1.4em
  bottom -2px
  transform translateX(-5px)
